extends layout 

block content 

  .relative.bg-gray-50
    nav.feedbackForm.py-3(class="md:py-0")
      .mx-auto.max-w-7xl.px-2(class='sm:px-6 lg:px-8')
        .relative.flex.h-16.justify-between
          .flex.flex-1.justify-center(class='sm:items-stretch')
              .flex
                p.text-white.rounded-md.py-1.font-medium(class="text-[0.75rem] md:text-[1rem] flex items-center") 
                  span IMPORTANTE: Esta página está en fase de pruebas y nos encantaría saber tu opinión. Ayúdanos a mejorar la experiencia de usuario completando este #[a(href="/", class="underline") breve formulario.]
        
    nav
      .mx-auto.max-w-7xl.px-2(class='sm:px-6 lg:px-8')
        .relative.flex.h-16.items-center.justify-between
          .flex.flex-1.items-center.justify-center(class='sm:items-stretch')
              .flex.space-x-4
                a.text-white.rounded-md.px-3.py-2.text-2xl.font-medium(href='/', aria-current='page') Intransitable
                a.text-white.rounded-md.px-3.py-2.text-2xl.font-medium(href='/acerca', class='hover:bg-white hover:text-indigo-800') Acerca
                
    main(class='lg:relative')
      .mx-auto.w-full.max-w-7xl.pt-16.pb-20.text-center(class='lg:py-48 lg:text-left')
        .px-6(class='sm:px-8 lg:w-1/2 xl:pr-16')
          h1.text-4xl.font-bold.tracking-tight(class='sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl')
              span.block.text-left  #{bachesCount} baches reportados hasta la fecha

          p.mx-auto.mt-3.max-w-md.text-lg.text-black.text-left(class='sm:text-xl md:mt-5 md:max-w-3xl')
            | ¡Reportá alguna calle en mal estado que hayas encontrado!
          .mt-10(class='sm:flex sm:justify-center lg:justify-start')
            .rounded-md.shadow
              a.flex.w-full.items-center.justify-center.rounded-md.border.border-transparent.px-8.py-3.text-base.font-medium.text-white(href='/form', class='md:py-4 md:px-10 md:text-lg reportarBtn') Reportar una calle 
            

      .relative.h-64.w-full(class='sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2')
          #map.absolute.inset-0.h-full.w-full.object-cover


    section(class='lg:relative')

      h1(class="text-4xl mb-6") Estadísticas

      h2(class="text-2xl mb-6 text-center") Denuncias por día hasta la fecha 

      //- select(name='street_category' class="street_category p-1 mx-5")
      //-   option(value='all') Todo
      //-   option(value='bache') Bache
      //-   option(value='vereda_mal_estado') Vereda en mal estado
      //-   option(value='perdida_de_agua') Perdida de agua
      //-   option(value='basural') Basural

      //- button(class="submit inline-flex items-center rounded-md border border-transparent px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2") Filtrar


      div.canvasWrapper
        img(src="../static/images/spinner-loading.gif", class="img")
        canvas#stats

      h2(class="text-2xl mb-6 text-center") Cantidad de denuncias por ciudad 

      div.canvasWrapper
        img(src="../static/images/spinner-loading.gif", class="denunciasPerCityImg")
        canvas#denunciasPerCity

    nav(class="mt-5")
        .mx-auto.max-w-7xl.px-2(class='sm:px-6 lg:px-8')
        .relative.flex.h-12.items-center.justify-between
            .flex.flex-1.items-center.justify-end(class='sm:items-stretch')
                .flex.space-x-4
                a.text-white.rounded-md.px-6.py-2.text-base.font-medium(href='https://github.com/paezdavid/calles-py', class='hover:underline') ¿Querés contribuir al proyecto?      
          
  script(src="../static/index.js", async) 

            

    
    
         
        
