extends layout 

block content 

  .relative.bg-gray-50
    nav.bg-indigo-900
      .mx-auto.max-w-7xl.px-2(class='sm:px-6 lg:px-8')
        .relative.flex.h-16.items-center.justify-between
          .flex.flex-1.items-center.justify-center(class='sm:items-stretch')
              .flex.space-x-4
                // Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
                a.text-white.rounded-md.px-3.py-2.text-2xl.font-medium(href='/', aria-current='page') CallesPy
                a.text-white.rounded-md.px-3.py-2.text-2xl.font-medium(href='#', class='hover:bg-white hover:text-indigo-800') Acerca
                
    main(class='lg:relative')
      .mx-auto.w-full.max-w-7xl.pt-16.pb-20.text-center(class='lg:py-48 lg:text-left')
        .px-6(class='sm:px-8 lg:w-1/2 xl:pr-16')
          h1.text-4xl.font-bold.tracking-tight.text-gray-900(class='sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl')
              span.block.text-indigo-600.text-left  #{bachesCount} baches
              span.block.text-indigo-600.text-left  #{veredasCount} veredas
              span.block.text-indigo-600.text-left  #{aguaPerdidaCount} cañerías rotas
              span.block.text-indigo-600.text-left  #{basuralesCount} basurales 
              
          p.mx-auto.mt-3.max-w-md.text-lg.text-gray-500.text-left(class='sm:text-xl md:mt-5 md:max-w-3xl')
            | Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
          .mt-10(class='sm:flex sm:justify-center lg:justify-start')
            .rounded-md.shadow
              a.flex.w-full.items-center.justify-center.rounded-md.border.border-transparent.bg-indigo-600.px-8.py-3.text-base.font-medium.text-white(href='/form', class='hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg') Reportar una calle
            .mt-3.rounded-md.shadow(class='sm:mt-0 sm:ml-3')
              a.flex.w-full.items-center.justify-center.rounded-md.border.border-transparent.bg-white.px-8.py-3.text-base.font-medium.text-indigo-600(href='#', class='hover:bg-gray-50 md:py-4 md:px-10 md:text-lg') Ver estadísticas
      .relative.h-64.w-full(class='sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2')
          #map.absolute.inset-0.h-full.w-full.object-cover
            
            

    script(src="../static/index.js") 
    
         
        
