* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { height: 100%; }
body { padding: 0; height: 100%; }

.wrapper {
    max-width: 600px;
    min-height: 700px;
    margin: 0 auto;
    padding: 1.5rem;
}

.feedbackForm {
    background-color: crimson;
    
}

nav { background-color: #0f3867; }

nav, main, section { margin: 0 auto; max-width: 1600px; }

canvas {
    height: 100%;
    width: 100%;
} 

.img, .denunciasPerCityImg {
    position: absolute;
    top: 5rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.canvasWrapper { height: 400px; position: relative; margin-bottom: 1rem; padding: 0 0.5rem; }

h1 { 
    text-align: center;
    padding-top: 2rem;
    color: #0f3867
}

.reportarBtn { background-color: #0f3867; }

.submit { background-color: #0f3867; }

form {
    width: 100%;
}

.form-map {
    max-width: 600px;
    height: 400px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#map { margin-bottom: 0.35rem; z-index: 1; }

.user_coords {
    display: none;
}

.coords_index {
    display: none;
}


.location-alert {
    display: none;
}

.location-alert-border {
    border: none;
}

