* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { padding: 0; }

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
}

nav, main { margin: 0 auto; max-width: 1600px; }

h1 { 
    text-align: center;
    padding-top: 2rem;
}

form {
    width: 100%;
}

.form-map {
    max-width: 600px;
    height: 400px;
}

#map { margin-bottom: 0.35rem; }

.user_coords {
    display: none;
}

.coords_index {
    display: none;
}


.location-alert {
    display: none;
}

.location-alert-border {
    border: none;
}

