* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { padding: 1rem; }

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

h1 { 
    text-align: center;
}

form {
    width: 100%;
}

.form-map {
    max-width: 600px;
    height: 400px;
}

#map { margin-bottom: 0.35rem; }

.user_coords {
    display: none;
}

.coords_index {
    display: none;
}

.popup_img > img {
    margin: 0 auto;
    max-width: 100px;
}